body {
    font-family: Arial, sans-serif;
    background-color: #040409;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
