/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body takes full height */
}

/* Header */
header {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00bfff;
}

/* Main Content */
main {
    flex-grow: 1; /* Ensures the content area takes up remaining space */
    padding: 2rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #00bfff;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }
}

/* Day/Night Mode Toggle Button */
#modeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
