/* Default light theme styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Night mode styles */
body.night-mode {
    background-color: #121212;
    color: white;
}

header.night-mode {
    background-color: #222;
}

footer.night-mode {
    background-color: #222;
}

button {
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}
